.Container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
     
    flex-direction: column;
    
}
 
.RGBInput{
    margin: auto;
}
.getUserInfo{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    margin: auto;
    display: flex;
    padding-top: 30px;
     
    
}